<!-- This is the base for the main cloud menu -->
{% extends "base_index.html" %}

{% block title %}
    {{ title }}
{% endblock%}


{% block stylesheets %}
    {{ dropzone.load_css() }}
{% endblock%}

{% block content_frame %}
    <table class="myTable">
        <tr class="myTable-titles">
            <th class="myTable-titles-title"><b>Title</b></th>
            <th class="myTable-titles-date"><b>Last modified date</b></th>
            <th class="myTable-titles-size"><b>File size</b></th>
        </tr>

        {% for item in items %}
            <tr class="myTable-item">
                <!-- Title -->
                {% if '.' in item.title %}
                <td class="myTable-item-title">
                    <a href="{{ url_for('file', title=item.title) }}" 
                        class="myTable-item-title-a" download>
                        {{ item.title }}
                    </a>
                {% else %}
                <td class="myTable-item-title-hover">
                    <a href="{{ url_for('file', title=item.title) }}" 
                        class="myTable-item-title-hover-a">
                        {{ item.title }}
                    </a>
                {% endif %}
                </td>
                <!-- Modified date -->
                <td class="myTable-item-date">
                    {{ item.date }}
                </td>
                <!-- File size -->
                <td class="myTable-item-size">
                    {{ item.size }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block upload_frame %}
    {{ dropzone.create(action='upload_file') }}
    <button id="upload">Upload</button>
    {{ dropzone.load_js() }}
    {{ dropzone.config(custom_init='dz = this;document.getElementById("upload").addEventListener("click", function handler(e) {dz.processQueue();});',
                        custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,') }}
{% endblock %}